In [1]:
import pyspark # only run after findspark.init()
from pyspark import SparkContext, SparkConf
conf = SparkConf()
sc = SparkContext(conf=conf)

In [10]:
from pyspark.sql import SQLContext
sqlContext=SQLContext(sc)

In [11]:
dataRows=[(1,'abc','uk',10000),(1,'xyz','canada',50000),(3,'abcd','us',20000)]

In [12]:
dataColumns=['empId','name','country','salary']

In [13]:
df=sqlContext.createDataFrame(dataRows,dataColumns)

In [14]:
df.show()

+-----+----+-------+------+
|empId|name|country|salary|
+-----+----+-------+------+
|    1| abc|     uk| 10000|
|    1| xyz| canada| 50000|
|    3|abcd|     us| 20000|
+-----+----+-------+------+

In [20]:
l=[('Alice',1)]
sqlContext.createDataFrame(l).collect()

[Row(_1='Alice', _2=1)]

In [21]:
sqlContext.createDataFrame(l,['Name','Age']).collect()

[Row(Name='Alice', Age=1)]

In [22]:
d=[{'name':'Alice','age':12}]
sqlContext.createDataFrame(d).collect()#depricated

[Row(age=12, name='Alice')]

In [28]:
rdd=sc.parallelize(l)
df1=sqlContext.createDataFrame(rdd,['Name','Age'])
df1.collect()

[Row(Name='Alice', Age=1)]

In [29]:
from pyspark.sql import Row
Person=Row('Name','Age')
person=rdd.map(lambda x:Person(*x))
df2=sqlContext.createDataFrame(person)
df2.collect()

[Row(Name='Alice', Age=1)]

In [30]:
from pyspark.sql.types import *
schema=StructType([
    StructField("name",StringType(),True),
    StructField("Age",IntegerType(),True)
])
df3=sqlContext.createDataFrame(rdd,schema)
df3.collect()

[Row(name='Alice', Age=1)]

In [31]:
sqlContext.createDataFrame(df1.toPandas()).collect()

[Row(Name='Alice', Age=1)]

In [32]:
sqlContext.createDataFrame(rdd,"a:string,b:int").collect()

[Row(a='Alice', b=1)]

In [33]:
rdd=rdd.map(lambda x:x[0])
sqlContext.createDataFrame(rdd,"string").collect()

[Row(value='Alice')]

In [34]:
sqlContext.registerDataFrameAsTable(df,"table1")

In [35]:
sqlContext.dropTempTable("table1")

In [36]:
sqlContext.getConf("spark.sql.shuffle.partitions")

'200'

In [37]:
sqlContext.range(1,7,2).collect()

[Row(id=1), Row(id=3), Row(id=5)]

In [38]:
sqlContext.registerDataFrameAsTable(df,"table1")

In [40]:
sqlContext.sql("select country,salary from table1").collect()

[Row(country='uk', salary=10000),
 Row(country='canada', salary=50000),
 Row(country='us', salary=20000)]

In [41]:
"table1" in sqlContext.tableNames()

True